<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISprintService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5789/SprintService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISprintService" contract="BackendSprintService.ISprintService"
                name="BasicHttpBinding_ISprintService" />
        </client>
    </system.serviceModel>
</configuration>