<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AnyTrackBackend" connectionString="Server=localhost;Database=AnyTrackBackend;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
</connectionStrings>