<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccountService" />
        <binding name="basicHttpEndpoint_IProjectService" />
        <binding name="BasicHttpBinding_IProjectService" />
        <binding name="BasicHttpBinding_ISprintService" />
        <binding name="BasicHttpBinding_ISprintService1" />
      </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:5789/AccountService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
            contract="BackendAccountService.IAccountService" name="BasicHttpBinding_IAccountService" />
        <endpoint address="http://localhost:5789/ProjectService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectService"
            contract="BackendProjectService.IProjectService" name="BasicHttpBinding_IProjectService" />
        <endpoint address="http://localhost:5789/SprintService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_ISprintService" contract="BackendSprintService.ISprintService"
            name="BasicHttpBinding_ISprintService" />
      <endpoint address="http://localhost:5789/SprintService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISprintService1" contract="BackendSprintService.ISprintService"
        name="BasicHttpBinding_ISprintService1" />
    </client>
  </system.serviceModel>
</configuration>